### Check if list contains integer x

In [15]:
l = [3,3,5,5,8,111,9,5,2,4]
print(111 in l)

True

### Find duplicate number in integer list

In [16]:
def find_duplicates(elements):
    duplicates, seen = set(), set()
    for element in elements:
        if element in seen:
            duplicates.add(element)
        seen.add(element)
    return list(duplicates)
    print(duplicates)

In [17]:
print(find_duplicates(l))

[3, 5]

### Check if two strings are anagrams

In [4]:
def is_anagram(s1, s2):
    return set(s1) == set(s2)

In [5]:
print( is_anagram("elvis","lives") )

True

### Remove all duplicates from list

In [6]:
lst = list(range(10)) + list(range(10))
lst = list(set(lst))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Find pairs of integers in list so that their sum is 
### equal to integer x

In [7]:
def find_pairs(l, x):
    pairs=[]
    for (i, el_1) in enumerate(l):
        for (j, el_2) in enumerate(l[i+1:]):
            if el_1 + el_2 == x:
                pairs.append((el_1, el_2))
    return pairs

In [8]:
find_pairs(l, 6)

[(3, 3), (2, 4)]

### Enumerate given list

In [9]:
for (i, el_1) in enumerate(l):
    print(i ,el_1)

0 3
1 3
2 5
3 5
4 8
5 111
6 9
7 5
8 2
9 4

### Check if a string is a palindrome

In [86]:
def is_palindrome(word):
    return word == word[::-1]
print(is_palindrome('malayalam'))

True

In [88]:
is_palindrome('123321')

True

### Use list as stack, array, and queue

In [11]:
# as a list
l = [3,4]
l + [5,6] 
print(l )

[3, 4]

In [12]:
# as a stack
l.append(10)
print(l)
l.pop()
print(l)

[3, 4, 10]
[3, 4]

In [13]:
# as a queue
l.insert(0,5)
print(l)
l.pop()
print(l)

[5, 3, 4]
[5, 3]

### Get missing number in [1...100]

In [14]:
def get_missing_number(lst):
    print(len(lst))
    return set(range(lst[len(lst)-1])[1:]) - set(l)

In [15]:
l= list(range(1,100))
l.remove(45)    # removing a number
print(get_missing_number(l))

98
{45}

### Compute the intersection of two lists

In [16]:
def intersect(lst1 , lst2):
    res, lst2_copy = [], lst2[:]
    for el in lst1:
        if el in lst2_copy:
            res.append(el)
            lst2_copy.remove(el)
    return res

In [17]:
l1 = [1,3,3,4,4,9,8,7]
l2 = [1,2,3,4,5,7,8,2,10]
intersect(l1 , l2)

[1, 3, 4, 8, 7]

### Find max and min in unsorted list

In [18]:
l = [4,3,6,3,4,888,1,-11,22,3]
print("Max = ", max(l))
print("Min = ", min(l))

Max =  888
Min =  -11

### Reverse string using recursion

In [8]:
def reverse(string):
    if len(string)<=1:
        return string
    
    return reverse(string[1:])+string[0]

# Tiger Analytics

### Write a python program to find missing numbers from a list
example:
input = [1,2,3,4,6,7,10]
output= [5,8,9]

In [20]:
## Using list comprehension method

In [21]:
def missing_numbers_1(lst):
    return [x for x in range(lst[0],lst[-1]+1) if x not in lst]

In [22]:
input = [1,2,3,4,6,7,10]
missing_numbers_1(input)

[5, 8, 9]

In [23]:
## Time Complexity O(n^2)

In [24]:
def missing_numbers_2(lst):
    n = len(lst)
    b=[0]*(lst[n-1]+1)
    for i in range(n):
        b[lst[i]]=1
    for i in range(lst[0],lst[n-1]+1):
        if (b[i]==0):
            print(i,end=" ")

In [25]:
missing_numbers_2(input)

5 8 9

In [26]:
## O(M) = m(maximum number in the list)

In [27]:
def missing_numbers_3(lst):
    n=len(lst)
    c=0
    for i in range(lst[0],lst[n-1]+1):
        if(lst[c]==i):
            c+=1
        else:
            print(i,end=" ")

In [28]:
len(input)

7

In [29]:
missing_numbers_3(input)

5 8 9

## ---------------------------

### Reverse the list without using built-in function or extra variable

#### Swap Method

In [30]:
list1 = [1,2,3,4,5,6]
L = len(list1)

In [31]:
for i in range(int(L/2)):
    n = list1[i]
    list1[i] = list1[L - i - 1]
    list1[L - i - 1] = n
    
print(list1)

[6, 5, 4, 3, 2, 1]

#### Recursion Function

In [10]:
list1 = [1,2,3,4,5,6]

In [11]:
def reverse_fun(lst):
    if len(lst) == 1:
        return lst
    # Otherwise
    return reverse_fun(lst[1:]) + lst[0:1]

In [13]:
reverse_fun('list1')

'1tsil'

#### Slice notation

In [35]:
list1 = [1,2,3,4,5,6]

In [36]:
def reverse1(lst):
    return lst[::-1]

In [37]:
reverse1(list1)

[6, 5, 4, 3, 2, 1]

### Create a reverse method for a python list from scratch

In [38]:
def reverse_fun(data_list):
    length = len(data_list)
    s = length

    new_list = [None] * length
    for item in data_list:
        s = s - 1
        new_list[s] = item
    return new_list

In [39]:
reverse_fun(list1)

[6, 5, 4, 3, 2, 1]

In [40]:
from itertools import permutations
 
# Get all permutations of [1,2,3,4,5]
perm = permutations([1,2,3,4,6])
 
# Print the obtained permutations
lst = []
for i in list(perm):
    print (i)
    lst.append(i)

(1, 2, 3, 4, 6)
(1, 2, 3, 6, 4)
(1, 2, 4, 3, 6)
(1, 2, 4, 6, 3)
(1, 2, 6, 3, 4)
(1, 2, 6, 4, 3)
(1, 3, 2, 4, 6)
(1, 3, 2, 6, 4)
(1, 3, 4, 2, 6)
(1, 3, 4, 6, 2)
(1, 3, 6, 2, 4)
(1, 3, 6, 4, 2)
(1, 4, 2, 3, 6)
(1, 4, 2, 6, 3)
(1, 4, 3, 2, 6)
(1, 4, 3, 6, 2)
(1, 4, 6, 2, 3)
(1, 4, 6, 3, 2)
(1, 6, 2, 3, 4)
(1, 6, 2, 4, 3)
(1, 6, 3, 2, 4)
(1, 6, 3, 4, 2)
(1, 6, 4, 2, 3)
(1, 6, 4, 3, 2)
(2, 1, 3, 4, 6)
(2, 1, 3, 6, 4)
(2, 1, 4, 3, 6)
(2, 1, 4, 6, 3)
(2, 1, 6, 3, 4)
(2, 1, 6, 4, 3)
(2, 3, 1, 4, 6)
(2, 3, 1, 6, 4)
(2, 3, 4, 1, 6)
(2, 3, 4, 6, 1)
(2, 3, 6, 1, 4)
(2, 3, 6, 4, 1)
(2, 4, 1, 3, 6)
(2, 4, 1, 6, 3)
(2, 4, 3, 1, 6)
(2, 4, 3, 6, 1)
(2, 4, 6, 1, 3)
(2, 4, 6, 3, 1)
(2, 6, 1, 3, 4)
(2, 6, 1, 4, 3)
(2, 6, 3, 1, 4)
(2, 6, 3, 4, 1)
(2, 6, 4, 1, 3)
(2, 6, 4, 3, 1)
(3, 1, 2, 4, 6)
(3, 1, 2, 6, 4)
(3, 1, 4, 2, 6)
(3, 1, 4, 6, 2)
(3, 1, 6, 2, 4)
(3, 1, 6, 4, 2)
(3, 2, 1, 4, 6)
(3, 2, 1, 6, 4)
(3, 2, 4, 1, 6)
(3, 2, 4, 6, 1)
(3, 2, 6, 1, 4)
(3, 2, 6, 4, 1)
(3, 4, 1, 2, 6)
(3, 4, 1, 6, 2)
(3, 4, 2, 1, 6)
(3, 4, 2, 6, 1)
(3, 4, 6, 1, 2)
(3, 4, 6, 2, 1)
(3, 6, 1, 2, 4)
(3, 6, 1, 4, 2)
(3, 6, 2, 1, 4)
(3, 6, 2, 4, 1)
(3, 6, 4, 1, 2)
(3, 6, 4, 2, 1)
(4, 1, 2, 3, 6)
(4, 1, 2, 6, 3)
(4, 1, 3, 2, 6)
(4, 1, 3, 6, 2)
(4, 1, 6, 2, 3)
(4, 1, 6, 3, 2)
(4, 2, 1, 3, 6)
(4, 2, 1, 6, 3)
(4, 2, 3, 1, 6)
(4, 2, 3, 6, 1)
(4, 2, 6, 1, 3)
(4, 2, 6, 3, 1)
(4, 3, 1, 2, 6)
(4, 3, 1, 6, 2)
(4, 3, 2, 1, 6)
(4, 3, 2, 6, 1)
(4, 3, 6, 1, 2)
(4, 3, 6, 2, 1)
(4, 6, 1, 2, 3)
(4, 6, 1, 3, 2)
(4, 6, 2, 1, 3)
(4, 6, 2, 3, 1)
(4, 6, 3, 1, 2)
(4, 6, 3, 2, 1)
(6, 1, 2, 3, 4)
(6, 1, 2, 4, 3)
(6, 1, 3, 2, 4)
(6, 1, 3, 4, 2)
(6, 1, 4, 2, 3)
(6, 1, 4, 3, 2)
(6, 2, 1, 3, 4)
(6, 2, 1, 4, 3)
(6, 2, 3, 1, 4)
(6, 2, 3, 4, 1)
(6, 2, 4, 1, 3)
(6, 2, 4, 3, 1)
(6, 3, 1, 2, 4)
(6, 3, 1, 4, 2)
(6, 3, 2, 1, 4)
(6, 3, 2, 4, 1)
(6, 3, 4, 1, 2)
(6, 3, 4, 2, 1)
(6, 4, 1, 2, 3)
(6, 4, 1, 3, 2)
(6, 4, 2, 1, 3)
(6, 4, 2, 3, 1)
(6, 4, 3, 1, 2)
(6, 4, 3, 2, 1)

In [41]:
from itertools import combinations
 
# Get all permutations of [1,2,3,4,5]
comb = combinations([1,2,3,4,6],2)
 
# Print the obtained permutations
lst = []
for i in list(comb):
    print (i)
    lst.append(i)

(1, 2)
(1, 3)
(1, 4)
(1, 6)
(2, 3)
(2, 4)
(2, 6)
(3, 4)
(3, 6)
(4, 6)

In [42]:
#

In [43]:
def reverse(string):
    if len(string) == 0:
        return
     
    temp = string[0]
    reverse(string[1:])
    print(temp , end="")
 
# Driver program to test above function
strng = "Pranav Rode"
reverse(strng)

edoR vanarP

## Fibonacci code

In [44]:
def fib(n):
    a,b = 0,1
    list=[0,1]
    for i in range(2,n):
        c=a+b
        list.append(c)
        a=b
        b=c
    return list

In [45]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Create new list and add 1 to duplicate elements in given list

In [46]:
list1 = [2,3,5,3,7,4]
list2 = []

for i in list1:
    if i in list2:
        a=i+1
        list2.append(a)
    else:
        list2.append(i)
        
print(list2)

[2, 3, 5, 4, 7, 5]

In [47]:
l=[1,2,3,4,5,2,3,4,7,9,5]
l1=[]
for i in l:
    if i in l1:
        a = i+1
        l1.append(a)
    else:
        l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 3, 4, 5, 7, 9, 6]

In [48]:
import random
list1 = [1,2,3,4,6]

for i in range(10):
    print(random.choices(list1 , k=6))

[3, 1, 3, 3, 1, 1]
[3, 3, 4, 3, 1, 4]
[6, 6, 4, 6, 6, 2]
[4, 4, 3, 3, 2, 3]
[1, 1, 6, 2, 1, 1]
[1, 1, 1, 3, 3, 6]
[3, 1, 2, 3, 6, 6]
[2, 4, 4, 3, 1, 1]
[3, 3, 2, 2, 2, 1]
[1, 6, 6, 6, 6, 2]

In [49]:
listnum = [45,67,12,14,56,87]
reverselist =listnum[::-1]
print ("reverselist : " ,reverselist)

reverselist :  [87, 56, 14, 12, 67, 45]

## Program to find the max, min number from the list user input.

In [18]:
l = []
num = int(input('Enter number of items in list'))

for num in range(num):
    item = int(input("Enter number = "))
    l.append(item)
    
print("Given list = ", l)

print("Max = ",max(l) , "\nMin = " , min(l))

Enter number of items in list5
Enter number = 78
Enter number = 85
Enter number = 54
Enter number = 65
Enter number = 54
Given list =  [78, 85, 54, 65, 54]
Max =  85
Min =  54

## Code to get unique elements from list using List comprehension

In [61]:
l = [2,4,6,8,2,9,5,6,1,8,10,13,12,14,12]

uniq_list = []

[uniq_list.append(i) for i in l if i not in uniq_list]

print(uniq_list)

[2, 4, 6, 8, 9, 5, 1, 10, 13, 12, 14]

## Program to find the sum of list elements.

In [79]:
lstnum = [12, 36, 56, 36, 36, 50, 56, 12] 
 
sum = 0
 
for i in range(0, len(lstnum)): 
    sum = sum + lstnum[i] 
 
print("sum of list items: " ,sum)
print("Mean = ", sum/len(lstnum))

sum of list items:  294
Mean =  36.75

## Multiply all the elements of list

In [63]:
lstnum = [6, 2, 3, 1, 10, 4] 
mutiply =1;
for ele in lstnum:
    mutiply =  mutiply* ele 
 
print ("multiplication of list items  : " ,mutiply)

multiplication of list items  :  1440

## Flatten a list of lists with a list comprehension

In [64]:
listnum = [[5,6,7,'C#'], ['C++',2,3]]
 
flatten_list = [i for j in listnum for i in j]
 
print('flatten list =',flatten_list)

flatten list = [5, 6, 7, 'C#', 'C++', 2, 3]

#### Another method

In [65]:
listnum = [[5,6,7,'C#'], ['C++',2,3]]
l = []
for i in listnum:
    for j in i:
        l.append(j)
        
print(l)

[5, 6, 7, 'C#', 'C++', 2, 3]

## Sum all the items in a list

In [80]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers = sum_numbers+ x
    return sum_numbers


sum_list([1,2,-8])

-5

In [67]:
list1 = [1,2,3,4,5]


def sum(list):
    length = len(list)
    result = 0
    for i in range(length+1):
        result = result + i
    return result

sum(list1)

15

In [68]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [69]:
dict.fromkeys

In [70]:
test_list = [ 1, 6, 3, 5, 3, 4 ]

def exist(num):
    for i in test_list:
        if(i == num):
            return print ("Element Exists")
        else:
            return print("Not Exists")

In [71]:
exist(10)

Not Exists

In [72]:
import math

In [73]:
def comb(n,r):
    ans = math.factorial(n) / ( math.factorial(r) * math.factorial(n-r) )
    print(ans)

In [74]:
comb(8,5)

56.0

In [75]:
comb(6,2)

15.0

In [76]:
56*15

840

In [77]:
def f(n):
    for x in range(n):
        yield x**3

In [78]:
res = [i for i in f(5)]

In [79]:
res

[0, 1, 8, 27, 64]

In [80]:
my = [number for number in range(1,14) if (number%2) == 0]

In [81]:
my

[2, 4, 6, 8, 10, 12]

In [82]:
# Python3 program to Convert a
# list to dictionary

def Convert(lst):
    res_dct = {lst[i]: lst[i + 1] for i in range(0, len(lst), 2)}
    return res_dct

# Driver code
lst = ['a', 1, 'b', 2, 'c', 3]
print(Convert(lst))

{'a': 1, 'b': 2, 'c': 3}

# Palindrome pyramid

In [83]:
def pal_py(n):
    for i in range(1,n+1):
        print((((10**i)-1)//9)**2)

In [93]:
(((10**2)-1)//9)**2

121

In [95]:
999//9

111

In [84]:
pal_py(8)

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321

In [85]:
def pal_py2(n):
    for i in range(1,n+1):
        print(int('1' * i)**2)

In [86]:
pal_py2(8)

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321

### Python OpenCV: Convert Image BGR and RGB Using cv2.cvtColor()

In [87]:
import cv2
import numpy as np
from PIL import Image
im_cv = cv2.imread('F:/Tutorials(Learning)/PGA 23/images/Train7.PNG')

In [88]:
cv2.imshow('Pic', im_cv)
cv2.waitKey(0)

27

### Converting color image to grayscale

In [89]:
# import opencv
import cv2

# Load the input image
image = cv2.imread('F:/Tutorials(Learning)/PGA 23/images/Train7.PNG')
cv2.imshow('Original', image)
cv2.waitKey(0)

# Use the cvtColor() function to grayscale the image
gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

cv2.imshow('Grayscale', gray_image)
cv2.waitKey(0)

# Window shown waits for any key pressing event
cv2.destroyAllWindows()

In [90]:
gray_image.shape

(419, 541)

In [91]:
# Python Program illustrating
# working of argmax()

import numpy as geek

# Working on 2D array
array = geek.arange(10).reshape(2, 5)
print("array : \n", array)

array[0][1] = 6
print("\narray : \n", array)
	
# Returns max element
print("\narray : ", geek.argmax(array))

# First occurrence of an max element is given
print("\nMAX ELEMENT INDICES : ", geek.argmax(array))

array :
 [[0 1 2 3 4]
 [5 6 7 8 9]]

array :
 [[0 6 2 3 4]
 [5 6 7 8 9]]

array :  9

MAX ELEMENT INDICES :  9

In [92]:
geek.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [93]:
mylist = [1,1,2,2,4,6,3,23,7,2,3,3,4]
set(mylist)

{1, 2, 3, 4, 6, 7, 23}

In [94]:
print('abcdefcdghcd'.split('cd'))

['ab', 'ef', 'gh', '']

In [95]:
def gen():
    n=1
    yield n
    
    n += 1
    yield n
    
    n -= 1
    yield n

In [96]:
for item in gen():
    print(item)

1
2
1

In [97]:
sum([item for item in gen()])

6

In [98]:
counter = 0
sum = 0
while  counter <= 6:
    sum = sum + counter
    counter = counter + 3
print(sum)

9

In [99]:
4%2

0

In [100]:
numRay = [0, 4, 3, 2, 7, 8, 2, 3, 1,4, 4, 8,8]
arr_size = len(numRay)
for i in range(arr_size):
 
    x = numRay[i] % arr_size
    numRay[x] = numRay[x] + arr_size
 
print("The repeating elements are : ")

for i in range(arr_size):
    if (numRay[i] >= arr_size*2):
        print(i, " ")

The repeating elements are :
2
3
4
8

In [101]:
arr_size = len(numRay)
for i in range(arr_size):
 
    x = numRay[i] % arr_size

In [102]:
arr_size

13

In [103]:
numRay[0] % arr_size

0

In [104]:
l=[1,2,3,4,5,2,3,4,7,9,5]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

2 3 4 5

## Check if number is Palindrome ↓

In [89]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print(bool(temp==rev))
else:
    print(bool(temp==rev))

Enter number:5228
False

In [103]:
x=int(input("Enter number:"))
if x > 0:
    print(bool(x == int(str(x)[::-1])))
else :
    print(bool(x == int(str(x)[::-1])) )

Enter number:32
False

In [105]:
# Define a class for Checking Palindrome number
class Check :

    # Constructor
    def __init__(self,number) :
        self.num = number
        
    # define a method for checking number is Palindrome or not 
    def isPalindrome(self) :

        # copy num attribute to the temp local variable
        temp = self.num

        # initialise local variable result to zero
        result = 0

        # run the loop untill temp is not equal to zero
        while(temp != 0) :
            
            rem = temp % 10

            result =  result * 10 + rem

            # integer division
            temp //= 10

        # check result equal to the num attribute or not
        if self.num == result :
            print(self.num,"is Palindrome")
        else :
            print(self.num,"is not Palindrome")


# Main code 
if __name__ == "__main__" :
    
    # input number
    num = 151
    
    # make an object of Check class
    check_Palindrome = Check(num)
    
    # check_Palindrome object's method call
    check_Palindrome.isPalindrome()
    
    num = 127
    check_Palindrome = Check(num)
    check_Palindrome.isPalindrome()

151 is Palindrome
127 is not Palindrome

## Basic list Programs

### Sort list in asc or desc order

In [18]:
'''Write a program that sort a list in ascending order '''

n = [9,2,8,1,10,34,1,4,37,2]
def sort(n):
    for i in range(0, len(n)):
        for j in range(i+1, len(n)):
            if n[i] > n[j]:
                temp = n[i]
                n[i] = n[j]
                n[j] = temp
    print(n)

#Driver Code
sort(n)

[1, 1, 2, 2, 4, 8, 9, 10, 34, 37]

In [17]:
'''Write a program that sort a list in descending order '''

n = [9,2,8,1,10,34,1,4,37,2]
def sort(n):
    for i in range(0, len(n)):
        for j in range(i+1, len(n)):
            if n[i] < n[j]:
                temp = n[i]
                n[i] = n[j]
                n[j] = temp
    print(n)

#Driver Code
sort(n)

[37, 34, 10, 9, 8, 4, 2, 2, 1, 1]

In [10]:
'''Sort list in Asc order '''

def selection_sort(A):
    for i in range(len(A)): 
    # Finding the minimum element in remaining unsorted array 
        min_idx = i 
        for j in range(i+1, len(A)): 
            if A[min_idx] > A[j]: 
                min_idx = j 
                  
        # Swapping A[i] with minimum element         
        A[i], A[min_idx] = A[min_idx], A[i] 

#Driver Code
arr = [12,45,67,2,3,9]
selection_sort(arr)   #Calling Function

print("Final array after sorting :\n")
for i in range(len(arr)):
    print(arr[i])    #Printing array after sorting

Final array after sorting :

2
3
9
12
45
67

In [16]:
'''Write a Python program to find the index of an item in a specified list.'''

nums = [10,20,30,40,50,60,70,80,90]
index = 0
def ind(n):
    for i in range(0, len(nums)):
        if nums[i] == n: 
            index = i
    print(index)
    
# Driver code:

ind(70)

6

In [1]:
'''Write a Python program to change the position of every n-th value with the
    (n+1)th in a list.'''

list_num = [0,1,2,3,4,5]

def ch(lst):
    for i in range(0, len(lst)):
        if i%2==0:
            temp=lst[i]
            lst[i] = lst[i+1]
            lst[i+1] = temp
    print(lst)
    
# Driver code:

ch(list_num)

[1, 0, 3, 2, 5, 4]

In [4]:
2%2

0

In [22]:
'''Write a Python program to change the position of every n-th value with the
    (n+1)th in a list.'''

list_num = [0,1,2,3,4,5]

def ch(lst):
    for i in range(0, len(lst)):
        if i%2==0:
            lst[i], lst[i+1] = lst[i+1], lst[i]
            #temp=lst[i]
            #lst[i] = lst[i+1]
            #lst[i+1] = temp
    print(lst)
    
# Driver code:

ch(list_num)

[1, 0, 3, 2, 5, 4]

In [25]:
'''Write a Python function that takes two lists and returns True if they have
       at least one common member.'''

def check_common_member(list_1, list_2):
    common = False
    for i in list_1:
        if i in list_2:
            common = True
            break
    return common

# Driver code

lst1 = [1,2,3,4,5]
lst2 = [5,6,7,8,9]

check_common_member(lst1,lst2)

True

In [36]:
'''Write a Python function that takes two lists and returns list of all elements other than 
                common in both lists.'''

def check_common_member(list_1, list_2):
    #common = False
    lst3 = []
    
    for i in list_1:
        if i not in list_2:
            lst3.append(i)
            
    for i in list_2:
        if i not in list_1:
            lst3.append(i)
    
    
    print(lst3)

# Driver code

lst1 = [1,2,3,4,5]
lst2 = [5,6,7,6,4,8,9]

check_common_member(lst1,lst2)

[1, 2, 3, 6, 7, 6, 8, 9]

In [44]:
'''Write a Python program to check a list is empty or not.'''

def list_null_check(lst):
    if len(lst) == 0:
        print('List is empty')
    elif len(lst) > 0:
        print('List is not empty')
        
        
# Driver code

n1 = [1,2,3,4,5,2,6,7,2]
n2 = []

list_null_check(n1)
list_null_check(n2)

List is not empty
List is empty

In [47]:
'''Write a Python program to check a list is empty or not.'''

def list_null_check(lst): 
    if lst:
        print('List is not empty')
    else:
        print('List is empty')
        
        
# Driver code

n1 = [1,2,3,4,5,2,6,7,2]
n2 = []

list_null_check(n1)
list_null_check(n2)

List is not empty
List is empty

In [79]:
'''Write a Python function to check whether a string is a palindrome or not.'''
string = input("Enter an string: ")
reverse = ''
for i in range(len(string)-1, -1, -1):
    reverse+= string[i]
if string == reverse:
    print("Palindrome")
else:
    print("not a palindrome")

Enter an string: 5656556565
Palindrome

In [83]:
'''Write a Python function to reverse string'''

def reverse_string(str):  
    str1 = ""   # Declaring empty string to store the reversed string  
    for i in str:  
        str1 = i + str1  
    return str1    # It will return the reverse string to the caller function  

# Driver code
     
str = "123272hjdsbf"    # Given String       
print("The original string is: ",str)  
print("The reverse string is",reverse_string(str)) # Function call

The original string is:  123272hjdsbf
The reverse string is fbsdjh272321

In [1]:
'''Write a Python function to check whether a string is a pangram or not.'''

def pangram(sent):
    alphabets = list("abcdefghigklmnopqrstuvwxyz")
    letters = set(sent)
    result = True
    for i in alphabets:
        if i not in letters:
            result = False
            break
    if result:
        print("It's Pangram")
    else:
        print("Not a Pangram")
    
# Driver code:
sent1 = "the quick brown fox jumps over the lazy dog"
sent2 = "the quick brown fox jumps over brdge"
pangram(sent1)

It's Pangram

In [2]:
# Python program to
# print current date

from datetime import date

# calling the today
# function of date class
today = date.today()

print("Today's date is", today)

Today's date is 2022-07-29

In [3]:

from datetime import datetime

now = datetime.now() # current date and time

year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%B")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2022
month: July
day: 29
time: 11:27:35
date and time: 07/29/2022, 11:27:35

### Digitwin AI⬇️

In [10]:
"""Use single key for country and its multiple cities in it using dictionary"""
"""METHOD 1"""

cities = {'San Francisco': 'US', 'London': 'UK',
          'Manchester': 'UK', 'Paris': 'France',
          'Los Angeles': 'US', 'Seoul': 'Korea'}

a = {}

for key,value in cities.items():
    if value not in a:
        a[value] = [key]
    else:
        a[value].append(key)

print(a)

{'US': ['San Francisco', 'Los Angeles'], 'UK': ['London', 'Manchester'], 'France': ['Paris'], 'Korea': ['Seoul']}

In [12]:
"""Use single key for country and its multiple cities in it using dictionary"""
"""METHOD 1"""

cities = {'San Francisco': 'US', 'London': 'UK',
          'Manchester': 'UK', 'Paris': 'France',
          'Los Angeles': 'US', 'Seoul': 'Korea'}

a = {}

for key,value in cities.items():
    a.setdefault(value,[]).append(key)

print(a)

{'US': ['San Francisco', 'Los Angeles'], 'UK': ['London', 'Manchester'], 'France': ['Paris'], 'Korea': ['Seoul']}

In [32]:
"""Count occurrences using dictionary"""
"""METHOD 1"""
def count(s):
    cnt = {}
    for i in s:
        if i in cnt:
            cnt[i] = cnt[i] + 1
        else:
            cnt[i] = 1
    print(cnt)
    #print({k: v for k, v in sorted(cnt.items(), key=lambda item: item[1])})
    
# Driver code :
count('convergence')
print('\n')
l = [1,2,3,4,2,5,6,3,7,8,2,5,9,6,5,10]
count(l)

{'c': 2, 'o': 1, 'n': 2, 'v': 1, 'e': 3, 'r': 1, 'g': 1}


{1: 1, 2: 3, 3: 2, 4: 1, 5: 3, 6: 2, 7: 1, 8: 1, 9: 1, 10: 1}

In [13]:
'''Count occurrences using dictionary'''
"""METHOD 2"""

hashmap = {}
def count(s):
    count = {}
    for i in set(s):
        hashmap[i] = s.count(i)
    return hashmap
    
# Driver code :
print(count('convergence'))
#print('\n')
#l = [1,2,3,4,2,5,6,3,7,8,2,5,9,6,5]
#count(l)

{'r': 1, 'n': 2, 'g': 1, 'v': 1, 'o': 1, 'e': 3, 'c': 2}

In [14]:
'''Count occurrences using dictionary'''
"""METHOD 3"""

l = [1,2,3,4,2,5,6,3,7,8,2,5,6,5]
from collections import Counter
# creating counter object
nums = Counter(l)
print(nums)

Counter({2: 3, 5: 3, 3: 2, 6: 2, 1: 1, 4: 1, 7: 1, 8: 1})

In [45]:
"""Given a list of integers and a integer target, returns indices of two numbers
such that they add up to target"""

def twosum(nums, target):
    for i in range(len(nums)):
        for j in range(i+1,len(nums)):
            if nums[j]==target-nums[i]:
                return [i,j]

In [46]:
twosum([1,5,7,2],12)

[1, 2]

In [47]:
def twosum2(nums, target):
    hashmap = {}
    for i in range(len(nums)):
        diff=target-nums[i]
        if diff in hashmap:
            return [hashmap[diff],i]
        hashmap[nums[i]]=i

In [48]:
twosum2([1,5,7,2],12)

[1, 2]

In [37]:
"""Find Second largest element in an array"""

# Python3 program to find second
# largest element in an array
 
# Function to print the
# second largest elements
def print2largest(arr):
    # There should be
    # atleast two elements
    if (len(arr) < 2):  
        print(" Invalid Input ")
        return
  
  # Sort the array
    arr.sort
  
    # Start from second last
    # element as the largest
    # element is at last
    for i in range(len(arr)-2,-1, -1):
        
        # If the element is not
        # equal to largest element
        if (arr[i] != arr[len(arr) - 1]):
            print("The second largest element is",arr[i])
            return
  
    print("There is no second largest element")
 

# Driver code
arr = [12, 35, 1, 10, 34, 1]
print2largest(arr)

The second largest element is 34

In [1]:
# Python3 code to demonstrate
# conversion of lists to dictionary
# using naive method

# initializing lists
test_keys = ["Rash", "Kil", "Varsha"]
test_values = [1, 4, 5]

# Printing original keys-value lists
print ("Original key list is : " + str(test_keys))
print ("Original value list is : " + str(test_values))

# using naive method
# to convert lists to dictionary
res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break

# Printing resultant dictionary
print ("Resultant dictionary is : " + str(res))

Original key list is : ['Rash', 'Kil', 'Varsha']
Original value list is : [1, 4, 5]
Resultant dictionary is : {'Rash': 1, 'Kil': 4, 'Varsha': 5}

### DhiOmics Interview questions ⬇️

In [57]:
# Python program to find largest / maximum number in given list
# number in a list

def myMax(list1):
    

# Assume first number in list is largest
# initially and assign it to variable "max"
     max = list1[0]
# Now traverse through the list and compare
# each number with "max" value. Whichever is
# largest assign that value to "max'.
     for x in list1:
        if x > max:
            max = x
        
# after complete traversing the list
# return the "max" value
     return max
     


# Driver code
list1 = [10, 20, 4, 45, 99,76,34,567,872,342,904]
print("Largest element is:", myMax(list1))

Largest element is: 904

In [3]:
# Python3 program to swap first
# and last element of a list
 
# Swap function
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

[24, 35, 9, 56, 12]

In [33]:
# Python3 program to swap first
# and last element of a list
 
# Swap function
def swapList(newList):
    #newList.sort(reverse=True)
    newList[0], newList[-1] = newList[-1], newList[0]
 
    return newList
     
# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

In [83]:
"""Check given number is perfect number or not"""


def perfect_check(n):
    sum = 0
    for i in range(1,n):
        if(n % i == 0):
            sum=sum+i
    if(sum==n):
        print("The number is perfect number!")
    else:
        print("The number is not perfect number!")

In [85]:
perfect_check(28)

The number is perfect number!

In [68]:
"""Print perfect numbers within given range"""

def perfect_number(n):
    if n<1:
        return False
    
    perfect_sum=0
    for i in range(1,n):
        if n%i==0:
            perfect_sum = perfect_sum+i
    return perfect_sum==n

#min=1
#max=10000
def perfect_range(min,max):
    for i in range(min,max+1):
        if perfect_number(i):
            print(i)

In [74]:
perfect_range(10,1000)

28
496

In [6]:
"""Get prime numbers from given list"""
ls = [1,5,4,10,11,13,98,12,68,7, 17, 41]
prime_nos =[]
for i in ls:
    c=0
    for j in range(1,i):
        if(i%j==0):
            c=c+1
    if c==1:
        prime_nos.append(i)
        
print(prime_nos)

[5, 11, 13, 7, 17, 41]

In [7]:
"""Get composite numbers from given list"""
ls = [1,5,4,10,11,13,98,12,68, 7 , 17]
comp_nos =[]
for i in ls:
    c=0
    for j in range(1,i):
        if(i%j==0):
            c=c+1
    if c>=2:
        comp_nos.append(i)
        
print(comp_nos)

[4, 10, 98, 12, 68]

In [14]:
"""Check number is even or odd"""

print("Enter any number")

num = int(input())
if num > 0:
    print("{} is valid a number".format(num))
    if num%2==0:
        print('\n')
        print("{} is an EVEN number".format(num))
    elif num%2==1:
        print("{} is an ODD number".format(num))
else:
    print("{} is invalid number".format(num))

Enter any number
21
21 is valid a number
21 is an ODD number

In [ ]:
"""Fibinacci series using yield generator"""

### Method 1

In [51]:
def fib(rnge):
    a,b = 0,1
    while True:
        yield a
        a,b=b,a+b

def fib2(rng):
    for f in fib(rng):
        if f>rng:
            break
        print(f)

In [52]:
fib2(10)

0
1
1
2
3
5
8

### Method 2

In [33]:
def fib(n):
    a=0
    b=1
    for x in range(n):
        yield a
        a,b = b, a+b

In [35]:
for fib_series in fib(12):
    print(fib_series)

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
'''Sorting data in pandas'''

In [30]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a':[1,2,5,3,4,7,8], 'b':[2,1,6,8,23,98,34],'c':[12,32,44,65,8,65,4], 'salary':[np.nan,32,np.nan,87,21,np.nan,56]})

In [31]:
df

   a   b   c  salary
0  1   2  12     NaN
1  2   1  32    32.0
2  5   6  44     NaN
3  3   8  65    87.0
4  4  23   8    21.0
5  7  98  65     NaN
6  8  34   4    56.0

In [43]:
df[df['salary'].isnull()]

   a   b   c  salary
0  1   2  12     NaN
2  5   6  44     NaN
5  7  98  65     NaN

In [56]:
df.iloc[::-1,::-1]

   salary   c   b  a
6    56.0   4  34  8
5     NaN  65  98  7
4    21.0   8  23  4
3    87.0  65   8  3
2     NaN  44   6  5
1    32.0  32   1  2
0     NaN  12   2  1

In [53]:
import pandas as pd
import numpy as np

data = {'first_set': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan,8,9,10,np.nan],
        'second_set': ['a','b',np.nan,np.nan,'c','d','e',np.nan,np.nan,'f','g',np.nan,'h','i']
        }
df = pd.DataFrame(data,columns=['first_set','second_set'])