In [1]:
from datetime import datetime
start_time1 = datetime.now()

In [2]:
# importing dependencies
import pandas as pd
import numpy as np
import math

In [3]:
 df_src = pd.read_excel('Problem_3_Dataset.xlsx' , sheet_name=0 )

In [4]:
df_des = pd.read_excel('Problem_3_Dataset.xlsx' , sheet_name=1)

In [5]:
df_src.head()

    Latitude  Longitude
0  13.022193  77.697762
1  13.030745  77.558343
2  12.928784  77.509375
3  13.026320  77.720210
4  12.948364  77.627783

In [6]:
df_src.shape

(5175, 2)

In [7]:
df_des.head()  # top 5 records

    Latitude  Longitude
0  28.519427  76.964814
1  28.521104  76.996469
2  28.522902  76.910281
3  28.523170  76.986546
4  28.526302  76.953613

In [8]:
df_des.shape

(4817, 2)

### We will select only 500 records from both source and destination as it take too much time to execute

In [9]:
df_src = df_src.iloc[0::, ::]  # selecting first 500 records

In [10]:
df_des = df_des.iloc[0:: , ::]   # selecting first 500 records

In [11]:
df_src.insert(loc=0, column='SOURCE_ID', value=range(0 , 0 + len(df_src)))

In [12]:
df_src.rename(columns={'Latitude' : 'SOURCE_Latitude' , 'Longitude' : 'SOURCE_Longitude'} , inplace=True)

In [13]:
df_src

      SOURCE_ID  SOURCE_Latitude  SOURCE_Longitude
0             0        13.022193         77.697762
1             1        13.030745         77.558343
2             2        12.928784         77.509375
3             3        13.026320         77.720210
4             4        12.948364         77.627783
...         ...              ...               ...
5170       5170        13.012562         77.605651
5171       5171        13.003766         77.612212
5172       5172        12.905201         77.686538
5173       5173        12.976893         77.576333
5174       5174        12.898712         77.750399

[5175 rows x 3 columns]

## same with destination data

In [14]:
df_des.insert(loc=0, column='DESTINATION_ID', value=range(0 , 0 + len(df_des)))

In [15]:
df_des.rename(columns={'Latitude' : 'DESTINATION_Latitude' , 'Longitude' : 'DESTINATION_Longitude'} , inplace=True)

In [16]:
df_des

      DESTINATION_ID  DESTINATION_Latitude  DESTINATION_Longitude
0                  0             28.519427              76.964814
1                  1             28.521104              76.996469
2                  2             28.522902              76.910281
3                  3             28.523170              76.986546
4                  4             28.526302              76.953613
...              ...                   ...                    ...
4812            4812             28.715997              77.268173
4813            4813             28.716010              77.117582
4814            4814             28.716233              77.113719
4815            4815             28.716576              77.267506
4816            4816             28.716757              77.112978

[4817 rows x 3 columns]

##### Calculating staight line distance between source and destination with formula

In [17]:
#%%timeit -n 0
from datetime import datetime
start_time = datetime.now()


from math import sin, cos, sqrt, atan2, radians, pi

#df1 = pd.DataFrame({ 'DISTANCE_KM': pd.Series(dtype='float')   })

lst=[]
r1=[]
r2=[]
r3=[]
q1=[]
q2=[]
q3=[]

for r in df_src.itertuples():
    for q in df_des.itertuples():
        #distance = 6371 * (3.141592653589793/180) * ((q[2]-r[2])**2 + (q[3]-r[3])**2)**0.5  # earth radius is 6371 km
        #df.append([r[1],r[2],r[3],q[1],q[2],q[3],distance])
        
        
        #R = 6371.0         # approximate radius of earth in km

        lat1 = pi/180 * (r[2])
        lon1 = pi/180 * (r[3])
        lat2 = pi/180 * (q[2])
        lon2 = pi/180 * (q[3])
            
        #dlon = lon2 - lon1
        #dlat = lat2 - lat1

        #a = (sin((lat2 - lat1)/2)**2+cos(lat1)*cos(lat2)*sin((lon2 - lon1)/2)**2)
        #c = 2 * atan2(sqrt(a), sqrt(1 - a))

        dis = 6371 * ( 2 * atan2( ((sin((lat2 - lat1)/2)**2+cos(lat1)*cos(lat2)*sin((lon2 - lon1)/2)**2))**0.5 , 
                                 (1 - (sin((lat2 - lat1)/2)**2+cos(lat1)*cos(lat2)*sin((lon2 - lon1)/2)**2))**0.5 ) )
        
        #df1 = df.append({'DISTANCE_KM':dis
        #                     },ignore_index=True)
        lst.append(dis)
        r1.append(r[1])
        r2.append(r[2])
        r3.append(r[3])
        q1.append(q[1])
        q2.append(q[2])
        q3.append(q[3])
        #df.append([r[1],r[2],r[3],q[1],q[2],q[3]], ignore_index=True)
            

        
    #return df
    
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:02:44.193328

In [18]:
from datetime import datetime
start_time = datetime.now()

r11 = pd.DataFrame(r1, columns =['SOURCE_ID'])
r11['SOURCE_ID'] = r11['SOURCE_ID'].astype(int)
r22 = pd.DataFrame(r2, columns =['SOURCE_Latitude'])
r33 = pd.DataFrame(r3, columns =['SOURCE_Longitude'])

q11 = pd.DataFrame(q1, columns =['DESTINATION_ID'])
q11['DESTINATION_ID'] = q11['DESTINATION_ID'].astype(int)
q22 = pd.DataFrame(q2, columns =['DESTINATION_Latitude'])
q33 = pd.DataFrame(q3, columns =['DESTINATION_Longitude'])

result = pd.DataFrame(lst, columns =['DISTANCE_KM'])
result['DISTANCE_KM'] = result['DISTANCE_KM'].astype(float)

df = pd.concat([r11,r22,r33,q11,q22,q33,result], axis=1)

    
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:49.338252

In [19]:
df

,SOURCE_ID,SOURCE_Latitude,SOURCE_Longitude,DESTINATION_ID,DESTINATION_Latitude,DESTINATION_Longitude,DISTANCE_KM
0,0,13.022193,77.697762,0,28.519427,76.964814,1724.883195
1,0,13.022193,77.697762,1,28.521104,76.996469,1724.928447
2,0,13.022193,77.697762,2,28.522902,76.910281,1725.526640
3,0,13.022193,77.697762,3,28.523170,76.986546,1725.201427
4,0,13.022193,77.697762,4,28.526302,76.953613,1725.698226
...,...,...,...,...,...,...,...
24927970,5174,12.898712,77.750399,4812,28.715997,77.268173,1759.509488
24927971,5174,12.898712,77.750399,4813,28.716010,77.117582,1760.021641
24927972,5174,12.898712,77.750399,4814,28.716233,77.113719,1760.061301
24927973,5174,12.898712,77.750399,4815,28.716576,77.267506,1759.575810
24927974,5174,12.898712,77.750399,4816,28.716757,77.112978,1760.122424

In [20]:
end_time1 = datetime.now()
print('Overall Total Execution time: {}'.format(end_time1 - start_time1))

Overall Total Execution time: 0:03:46.348617

In [21]:
----stop

NameError: name 'stop' is not defined

## -------------- Rough/Experimental Work Below  ↓↓↓↓↓↓

In [ ]:
#df1 = pd.DataFrame({ 'DISTANCE_KM': pd.Series(dtype='float')   })
#df1

In [ ]:
#for u in lst:
    #df1 = df1.append({'DISTANCE_KM':u },ignore_index=True)

In [ ]:
lst

In [ ]:
df1 = pd.DataFrame(lst, columns =['DISTANCE_KM'])
df1['DISTANCE_KM'] = df1['DISTANCE_KM'].astype(float)
df1

In [ ]:
df1.info()

%%timeit -n 0

dist=[]
for i , r in df_src.iterrows():
    for j , q in df_des.iterrows():
        distance = 6371 * (3.141592653589793/180) * ((q[1]-r[1])**2 + (q[2]-r[2])**2)**0.5  # earth radius is 6371 km
        dist.append([r[0],r[1],r[2],q[0],q[1],q[2],distance])

In [ ]:
df1

In [ ]:
df2 = pd.concat([df, df1], axis=1)
df2

In [ ]:
df2.iloc[[2, 3, 5]]

In [ ]:
df1.isnull().sum()

In [ ]:
df2['SOURCE_ID']

In [ ]:
df3 = df2[(df2['SOURCE_ID']=2.0) & (df2['DESTINATION_ID']=52.0)]

In [ ]:
df3

In [ ]:
---

In [ ]:
len(dist)  # we have 2.5 lakh records

In [ ]:
dist1 = pd.DataFrame(dist)  # converting it in dataframe

In [ ]:
dist1

In [ ]:
cols = ['SOURCE_ID', 'SOURCE_Latitude','SOURCE_Longitude','DESTINATION_ID',  'DESTINATION_Latitude','DESTINATION_Longitude','Distance in Km']

In [ ]:
dist1.columns = cols  # renaming to dataframe.

In [ ]:
df2.dropna()

In [ ]:
df2.SOURCE_ID = df2.SOURCE_ID.astype(int)  # changing datatypes from float to int

In [ ]:
df2.DESTINATION_ID = df2.DESTINATION_ID.astype(int)

In [ ]:
dist1

In [ ]:
#%%time
for r in df_des.itertuples():
    print( r[1], r[2],r[3])

In [ ]:
#%%timeit -n 1
for row in df_src.itertuples():
    print(getattr(row,'SOURCE_ID'), getattr(row, 'SOURCE_Latitude'), getattr(row, 'SOURCE_Longitude'))

In [ ]:
%%timeit -n 0
for index, row in df_src.iterrows():
    print(row['SOURCE_ID'], row['SOURCE_Latitude'],row['SOURCE_Longitude'] )

In [ ]:
from math import sin, cos, sqrt, atan2, radians
import random
import pandas as pd

R = 6371.0         # approximate radius of earth in km

lat1 = radians(13.022193)
lon1 = radians(77.697762)
lat2 = radians(28.519427)
lon2 = radians(76.964814)
            
dlon = lon2 - lon1
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c
print(distance)

In [ ]:
radians(20)

In [ ]:
pi/180  * 20

In [ ]:
datetime.now()

In [ ]:
data = []
mat = np.array(data)

In [ ]:
mat

In [ ]:
mat.append(25,1)